{% block agregar %}
 <!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="assets/img/favicon.ico">
<title>Page Title</title>
</head>
<body>
<form action="/admin/save" method="post">
    <table>
        <tbody>
            <tr>
                <td>User</td>
                <td><input type="text" name="user" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pass" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Crear" /></td>
            </tr>
        </tbody>
    </table>
</form>
</body>
</html> 
{% endblock %}