<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Buena Vista</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="assets/css/mdb.min.css" rel="stylesheet">

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />


    <!-- Checkbox personalizados -->
    <link href="assets/css/pretty-checkbox.min.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- BoostrapTable Api -->
    <link rel="stylesheet" href="assets/css/bootstrap-table.min.css">

    <!-- Iconos font awesome-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="azure" data-image="assets/img/skull.jpg">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    Laboratorio & Óptica
                    <img href="/" src="assets/img/logo.png" alt="logo" width="100rem">
                    <br>
                    "Buena Vista"
                </a>
            </div>
            
            <ul class="nav flex-column">
                {% if salir %}
                    <li class="{{active}}">
                        <a class="nav-link" href="/">
                            <i class="pe-7s-door-lock" style="font-size: 2rem;"></i>
                            <p>Iniciar</p>
                        </a>
                    </li>
                {% endif %}
                <li {% block ulAdd %}{% endblock %}>
                    <a class="nav-link" href="/agregar">
                        <i class="pe-7s-add-user" style="font-size: 2rem;"></i>
                        <p>Agregar</p>
                    </a>
                </li>
                <li {% block ulSearch %}{% endblock %}>
                    <a class="nav-link" href="/buscar">
                        <i class="pe-7s-search" style="font-size: 2rem;"></i>
                        <p>Buscar</p>
                    </a>
                </li>
                <li {% block ulList %}{% endblock %}>
                    <a class="nav-link" href="/listar">
                        <i class="pe-7s-note2" style="font-size: 2rem;"></i>
                        <p>Listar</p>
                    </a>
                </li>
                <li {% block ulImport %}{% endblock %}>
                    <a class="nav-link" href="/#">
                        <i class="pe-7s-cloud-upload" style="font-size: 2rem;"></i>
                        <p>importar</p>
                    </a>
                </li>
                {% if not salir %}
                    <li class="">
                        <a id="btnLogout" class="nav-link" href="/salir">
                            <i class="pe-7s-back-2" style="font-size: 2rem;"></i>
                            <p>Salir</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="nav navbar-nav navbar-header">
                    <a class="navbar-brand teal-text" href="/" style="padding: 0px;">{% if opcion %}{{opcion}}{% else %}Bienvenido{% endif %}</a>
                </div>
                <!--<button style="background: left;" type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navigation-example-2">
                    <i class="pe-7s-menu" style="font-size: 2rem;"></i>
                </button>-->
            </div>
        </nav>
        <div class="content">
            <div id="main-container" class="container-fluid">
                <div class="row justify-content-md-center">
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
    {% block modals %}{% endblock %}
    {% include '/clients/modals/logOutMdl.twig' %}
</body>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="assets/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="assets/js/mdb.min.js"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="assets/js/demo.js"></script>
    
    <!-- BootstrapTable API -->
    <script src="assets/js/bootstrap-table.min.js"></script>

    <!-- Personal Scripts -->
    {% block scripts %}{% endblock %}
    <script src="javascripts/main.js"></script>
    
</html>