<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 90%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/slider/1.jpg">
    </div>
    {% for i in 2..9 %}
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/slider/{{ i }}.jpg">
    </div>
    {% endfor %}
  </div>
</div>