{% extends 'mainLayout.twig' %}

{% block main %}
<div class="col-md-12">
    <div class="card">
        <form id="idFormNewUser">
            <!-- Card header -->
            <div class="card-header z-depth-1 teal" role="tab" >
                <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                    Editar usuario
                </h5>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-7.5">
                        <ul class="nav nav-tabs" id="formularioTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="basics-tab" data-toggle="tab" href="#basics" role="tab"
                                    aria-controls="basics" aria-selected="false">Datos básicos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <center>
                            <button class="btn btn-primary waves-effect waves-light btn-fill" name="editUser" id="btnEditUser" type="button" title="Terminar Edición">
                                Terminar
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </center>
                    </div>
                </div>
                <div class="tab-content" id="formularioTabContent">
                    {% include '/clients/newClientForm/tabBasics.twig' %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modals %}{% include '/clients/modals/searchMdl.twig' %}{% endblock %}

{% block scripts %}
    <script>const user="{{id}}";</script>
    <script src="javascripts/editUser.js"></script>
{% endblock %}