{% extends 'mainLayout.twig' %}

{% block main %}
<div class="col-md-12">
    <div class="card">
        <!-- Card header -->
        <div class="card-header z-depth-1 teal" role="tab" >
            <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                Consultas
            </h5>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-5"><b>Cliente: </b><span id="nombreCompleto"></span></div>
                <div class="col-md-2"><center><b>Edad: </b><span id="edad"></span></center></div>
                <div class="col-md-2"><center><b>F. Registro: </b><span id="reg"></span></center></div>
                <div class="col-md-3">
                    <center>
                        <button class="btn btn-secondary waves-effect waves-light btn-fill" name="addConsul" id="btnAddConsul" type="button">
                            Consulta
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </center>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table id="tableConsultas" data-toggle="table">
                        <thead>
                            <tr>
                                <th data-align="center" data-field="nota" data-width="150">Nota</th>
                                <th data-align="center" data-field="date" data-width="200">Fecha Examen</th>
                                <th data-align="center" data-field="examino">Examino</th>
                                <th data-align="center" data-field="detalles" data-width="200">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
    {% include '/clients/modals/detailMdl.twig' %}
    {% include '/clients/modals/searchMdl.twig' %}
    {% include '/clients/modals/removeMdl.twig' %}
{% endblock %}

{% block scripts %}
    <script>const user="{{id}}";</script>
    <script src="javascripts/hst.js"></script>
{% endblock %}