{% block importar %}
<form action="client/load" method="post" encType="multipart/form-data">
    <div class="custom-file">
        <input name="foo" type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile"></label>
    </div>
    <button id="btnSubir" type="submit" class="btn btn-dark">Subir</button>
</form>

{% endblock %}