{% extends 'mainLayout.twig' %}

{% if carrusel %}
    {% block main %}
        {% include '/clients/carrusel.twig' %}
    {% endblock %}
{% else %}
    {% block main %}
        {% include '/clients/login.twig' %}
    {% endblock %}
{% endif %}
