{% extends 'mainLayout.twig' %}

{% block ulList %} class="active" {% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="card">
        <!-- Card header -->
        <div class="card-header z-depth-1 teal" role="tab" >
            <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                Clientes
            </h5>
        </div>
        <div class="content">
            <table id="tableTest" data-toggle="table">
                <thead>
                    <tr>
                        <th data-field="nombreCompleto">Nombre</th>
                        <th data-align="center" data-field="edad">Edad</th>
                        <th data-align="center" data-field="usa">Usa Lentes</th>
                        <th data-align="center" data-field="registro">Fecha de Registro</th>
                        <th data-align="center" data-field="actions" data-width="150">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}{% include '/clients/modals/searchMdl.twig' %}{% endblock %}

{% block scripts %}
<script src="javascripts/list.js"></script>
{% endblock %}