<div class="col-md-6">
  <div class="card">
    <!-- Card header -->
    <div class="card-header z-depth-1 teal" role="tab">
      <h5
        class="mb-0 white-text text-center font-weight-bold text-uppercase"
        style="margin-top: 0%"
      >
        Inicio de Sesión
      </h5>
    </div>
    <div class="content">
      <!-- Form -->
      <form id="formLogin" class="text-center" style="color: #757575;" action="">
        <!-- Email -->
        <div class="md-form">
          <input type="text" id="textUsuario" class="form-control" value=""/>
          <label for="textUsuario">Usuario</label>
        </div>

        <!-- Password -->
        <div class="md-form">
          <input type="password" id="textContra" class="form-control" value=""/>
          <label for="textContra">Contraseña</label>
        </div>

        <!-- Sign in button -->
        <button
          id="btnLogin"
          type="button"
          class="btn btn-block btn-outline-secondary waves-effect"
        >
          Entrar
        </button>
      </form>
      <!-- Form -->
    </div>
  </div>
</div>
