{% extends 'mainLayout.twig' %}


{% block ulSearch %} class="active" {% endblock %}

{% block main %}
<div class="col-md-12">
        <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card" style="margin-bottom: 0%">

            <!-- Card header -->
            <div class="card-header z-depth-1 teal" role="tab" id="heading10">
            <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true"
                aria-controls="collapse10">
                <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                    Parametros
                </h5>
            </a>
            </div>

            <!-- Card body -->
            <div id="collapse10" class="collapse show" role="tabpanel" aria-labelledby="heading10"
            data-parent="#accordionEx2">
                <div class="card-body dark-text">
                    <form id="idFormNewUser">
                        {% include '/clients/searchForm/form.twig' %}
                        <center>
                            <button class="btn btn-secondary waves-effect waves-light btn-fill" name="buscar" id="btnSearch" type="button">
                                    Buscar
                                   <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-dark waves-effect waves-light btn-fill" name="reiniciar" id="btnReset" type="button">
                                   <i class="fa fa-repeat" aria-hidden="true"></i>
                            </button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card" style="margin-bottom: 0%">

            <!-- Card header -->
            <div class="card-header z-depth-1 teal darken-1" role="tab" id="heading11">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11"
                    aria-expanded="false" aria-controls="collapse11">
                    <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                        Resultados
                    </h5>
                </a>
            </div>

            <!-- Card body -->
            <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
            data-parent="#accordionEx2">
                <div class="card-body dark-text">
                    <table id="tableResults" data-toggle="table">
                        <thead>
                            <tr>
                                <th data-field="nombreCompleto">Nombre</th>
                                <th data-align="center" data-field="edad">Edad</th>
                                <th data-align="center" data-field="usa">Usa Lentes</th>
                                <th data-align="center" data-field="registro">Fecha de Registro</th>
                                <th data-align="center" data-field="actions" data-width="150">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->
</div>
{% endblock %}

{% block modals %}{% include '/clients/modals/searchMdl.twig' %}{% endblock %}

{% block scripts %}
    <script src="javascripts/search.js"></script>
{% endblock %}