{% extends 'mainLayout.twig' %}

{% block main %}
<div class="col-md-12">
    <div class="card">
        <form id="idFormNewUser">
            <!-- Card header -->
            <div class="card-header z-depth-1 teal" role="tab" >
                <h5 class="mb-0 white-text text-center font-weight-bold text-uppercase" style="margin-top: 0%">
                    Datos de la Consulta
                </h5>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-7.5">
                        <ul class="nav nav-tabs" id="formularioTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="basics-tab" data-toggle="tab" href="#basics" role="tab"
                                    aria-controls="basics" aria-selected="false">Datos básicos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="results-tab" data-toggle="tab" href="#results" role="tab"
                                    aria-controls="results" aria-selected="true">Examen de la vista</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="lentes-tab" data-toggle="tab" href="#lentes" role="tab"
                                    aria-controls="lentes" aria-selected="false">Lentes & Observaciones</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <center>
                            <button class="btn btn-primary waves-effect waves-light btn-fill" name="addConsul" id="btnAddConsul" type="button">
                                Terminar
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-dark waves-effect waves-light btn-fill" name="reiniciar" id="btnReset" type="button">
                                   <i class="fa fa-repeat" aria-hidden="true"></i>
                            </button>
                        </center>
                    </div>
                </div>
                <div class="tab-content" id="formularioTabContent">
                    {% include '/clients/newClientForm/tabBasics.twig' %}
                    {% include '/clients/newClientForm/tabExam.twig' %}
                    {% include '/clients/newClientForm/tabObs.twig' %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block modals %}{% include '/clients/modals/searchMdl.twig' %}{% endblock %}

{% block scripts %}
    <script>const user="{{id}}";</script>
    <script src="javascripts/newTest.js"></script>
{% endblock %}