  <!-- Full Height Modal Bottom -->
  <div class="modal fade left" id="fullHeightModalBottom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-full-height modal-left" style="width: 100%;max-width: 100%;" role="document">
          <div class="modal-content">
              <div class="modal-header">
               <div class="col-md-10">
                <div class="row">
                    <h4 class="modal-title w-100" id="myModalLabel" style="margin-top: 0;">Detalles de la Consulta
                        <button id="" type="button" class="btn btn-primary btn-sm btn-fill btnSaveChanges" style="float: inline-end;">Guardar Cambios <i style="color: white;" class="fa fa-save btnSaveChanges"></i></button>
                    </h4>
                </div>
               </div>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
              </div>
              <div class="modal-body">
                <form id="formDetails">
                  <div class="row">
                     <div class="col-md-6">
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="col-md-12">
                                     <div class="row" style="margin-bottom: 2%;">
                                         <div class="col-md-5">
                                             <center><strong>OJO DERECHO</strong> <br></center>
                                         </div>
                                         <div class="col-md-2">
                                             <center><strong>PARAMETROS</strong> <br></center>
                                         </div>
                                         <div class="col-md-5">
                                             <center><strong>OJO IZQUIERDO</strong> <br></center>
                                         </div>
                                     </div>
                                     <div class="row" >
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="esfDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         <div class="col-md-2 text-center">
                                             <img src="assets/img/esfera.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;">
                                         </div>
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="esfIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         

                                     </div>
                                     <div class="row">
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="cilDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         <div class="col-md-2 text-center"><img src="assets/img/cy.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="cilIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         

                                     </div>
                                     <div class="row">
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="ejeDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         <div class="col-md-2 text-center"><img src="assets/img/ejes.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="ejeIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                         

                                     </div>
                                     <div class="row">
                                        <div class="col-md-5">
                                                <div class="form-group">
                                                    <textarea id="addDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                        rows="2" class="form-control" value="" readonly></textarea>
                                                </div>
                                            </div>
                                         
                                         <div class="col-md-2 text-center"><img src="assets/img/zoom.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                         <div class="col-md-5">
                                             <div class="form-group">
                                                 <textarea id="addIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                                     rows="2" class="form-control" value="" readonly></textarea>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                            
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="row" style="margin-top: 1.9%;">
                                     <div class="col-md-12">
                                         
                                         <table class="table table-bordered table-sm table-borderless" id="tableDetails"
                                             data-toggle="table">
                                             <thead>
                                                 <tr>
                                                     <th data-class="negro" data-field="dato" data-align="center"
                                                         data-width="100"></th>
                                                     <th data-field="detalle"></th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                             </tbody>
                                         </table>
                                        
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                        <b>Observaciones:</b>
                        <br>
                        <div class="form-group">
                            <textarea id="observaciones" style="resize: none;text-transform: uppercase;color: #3e3e3e;" rows="3" class="form-control" value="" readonly></textarea>
                        </div>
                    </div>
                </div>
                </form>
              </div>  
          </div>
      </div>
  </div>
  <!-- Full Height Modal Bottom -->