<!-- Central Modal Small -->
<div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Cerrar Sesión</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>¿Esta seguro que desea salir?</center>
      </div>
      <div class="modal-footer text-center" style="display: inherit;">
        <button type="button" class="btn btn-secondary btn-sm btn-fill" data-dismiss="modal">Cerrar</button>
        <button id="btnLogoutModal" type="button" class="btn btn-primary btn-sm btn-fill">Salir</button>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Small -->