<!-- Modal -->
<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="modalRemoveLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRemoveLabel">Mensaje de confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    ¿Está seguro que desea eliminar el examen?
                </center>
            </div>
            <form id="formModalRemove" action="" method="">
                <div class="modal-footer text-center" style="display: inherit;">
                    <input id="idTest" name="id" type="hidden">
                    <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Cerrar</button>
                    <button id="btnContinue" type="submit" class="btn btn-danger btn-fill">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>