<!-- Modal -->
<div class="modal fade" id="modalConsultas" tabindex="-1" role="dialog" aria-labelledby="modalConsultasLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConsultasLabel">Mensaje de confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <div id="infop"></div>
                </center>
            </div>
            <form id="formModalConsultas" action="/{{pointer}}" method="post">
                <div class="modal-footer text-center" style="display: inherit;">
                    <input id="idUser" name="id" type="hidden">
                    <button type="button" class="btn btn-secondary btn-fill" data-dismiss="modal">Cerrar</button>
                    <button id="btnSubmit" type="submit" class="btn btn-info btn-fill">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div>