
<div class="form-row">
    <div class="col">
        <div class="md-form">
            <input id="nombre" type="text" class="form-control" value=""
                style="text-transform: uppercase;">
            <label for="nombre">Nombre(s)</label>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            <input id="paterno" type="text" class="form-control" value=""
                style="text-transform: uppercase;">
            <label for="paterno">Apellido Paterno</label>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            <input id="materno" type="text" class="form-control" value=""
                style="text-transform: uppercase;">
            <label for="materno">Apellido Materno</label>
        </div>
    </div>
</div>

<div class="form- row">
    <div class="col">
        <div class="md-form">
            <input id="edad" type="number" class="form-control" value="" title="Ingrese la Edad.">
            <label for="edad">Edad</label>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            <input id="trabajo" type="text" class="form-control" value=""
                style="text-transform: uppercase;" title="Por favor, llena este campo.">
            <label for="trabajo">Trabajo</label>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            <input id="telefono" type="text" class="form-control" value=""
                style="text-transform: uppercase;" title="Por favor, llena este campo.">
            <label for="telefono">Telefóno</label>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col">
        <div class="md-form">
            <input id="direccion" type="text" class="form-control" value="" style="text-transform: uppercase;" title="Por favor, llena este campo.">
            <label for="direccion">Dirección</label>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            <input id="poblacion" type="text" class="form-control" value=""
                style="text-transform: uppercase;" title="Por favor, llena este campo.">
            <label for="poblacion">Población</label>
        </div>
    </div>
</div>