
<div class="tab-pane fade {{add}}" id="basics" role="tabpanel" aria-labelledby="basics-tab">
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="nombre" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" {{disabled}} pattern="(^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1])+$" required>
                <label for="nombre">Nombre(s)</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="paterno" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" {{disabled}} pattern="(^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1])+$" required>
                <label for="paterno">Apellido Paterno</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="materno" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" {{disabled}} pattern="(^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1])+$" required>
                <label for="materno">Apellido Materno</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="edad" type="number" class="form-control" value="" title="Ingrese la edad." {{disabled}}>
                <label for="edad">Edad</label>
            </div>
        </div>
        <div class="col-2.5">
            <div class="md-form" style="margin: 0;">
                <label style="font-size: 0.75rem;">Usa Lentes</label> 
            </div>
            <br style="margin-bottom: 0.5rem;">
            <!-- Group of material radios - option 1 -->
            <div class="form-check form-check-inline">
                <input value="SI" type="radio" class="form-check-input" id="usaSi" name="usaLentes" {{disabled}}>
                <label class="form-check-label" for="usaSi" style="font-size: 1rem;">SI</label>
            </div>
            <!-- Group of material radios - option 2 -->
            <div class="form-check form-check-inline">
                <input value="NO" type="radio" class="form-check-input" id="usaNo" name="usaLentes" {{disabled}}>
                <label class="form-check-label" for="usaNo" style="font-size: 1rem;">NO</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="trabajo" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" title="Por favor, llena este campo." {{disabled}}>
                <label for="trabajo">Trabajo</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="telefono" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" title="Por favor, llena este campo." {{disabled}}>
                <label for="telefono">Telefóno</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="direccion" type="text" class="form-control" value="" style="text-transform: uppercase;" title="Por favor, llena este campo." {{disabled}}>
                <label for="direccion">Dirección</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="poblacion" type="text" class="form-control" value=""
                    style="text-transform: uppercase;" title="Por favor, llena este campo." {{disabled}}>
                <label for="poblacion">Población</label>
            </div>
        </div>
    </div>
</div>
