
<div class="tab-pane fade {{test}}" id="results" role="tabpanel" aria-labelledby="results-tab">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <div class="md-form" style="margin-bottom: 0px;">
                        <input id="examino" type="text" class="form-control" value=""
                            style="text-transform: uppercase;">
                        <label for="examino">Examino:</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        <input id="fecha" type="date" class="form-control" value="" title="Ingrese la fecha del examen.">
                        <label for="fecha" style="font-size: 1rem;">Fecha</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="row" style="margin-bottom: 2%;">
                                <div class="col-md-5">
                                    <center><strong>OJO DERECHO</strong> <br></center>
                                </div>
                                <div class="col-md-2">
                                    <center><strong>PARAMETROS</strong> <br></center>
                                </div>
                                <div class="col-md-5">
                                    <center><strong>OJO IZQUIERDO</strong> <br></center>
                                </div>
                            </div>
                            <div class="row" >
                            <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="esfDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 text-center">
                                    <img src="assets/img/esfera.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;">
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="esfIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="cilDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center"><img src="assets/img/cy.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="cilIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                

                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="ejeDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center"><img src="assets/img/ejes.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="ejeIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                

                            </div>
                            <div class="row">
                            <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="addDer" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 text-center"><img src="assets/img/zoom.png" class="img-fluid " alt="lenteIzq" style="width: 5rem;"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <textarea id="addIzq" style="resize: none;text-transform: uppercase;color: #3e3e3e;"
                                            rows="2" class="form-control" value="" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
</div>