
<div class="tab-pane fade" id="lentes" role="tabpanel" aria-labelledby="lentes-tab">
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="nota" type="text" class="form-control" value="" style="text-transform: uppercase;color: crimson;">
                <label for="nota">Nota:</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="lente" type="text" class="form-control" value="" style="text-transform: uppercase;">
                <label for="lente">Lentes:</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="color" type="text" class="form-control" value="" style="text-transform: uppercase;">
                <label for="color">Color:</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="armazon" type="text" class="form-control" value="" style="text-transform: uppercase;">
                <label for="armazon">Armazon:</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="md-form">
                <input id="oblea" type="text" class="form-control" value="" style="text-transform: uppercase;">
                <label for="oblea">Alt. de Oblea:</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form">
                <input id="di" type="text" class="form-control" value="" style="text-transform: uppercase;">
                <label for="di">D. I.:</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <!-- Material textarea -->
            <div class="md-form">
                <textarea id="observaciones" rows="3" class="md-textarea form-control" value="" style="text-transform: uppercase;"></textarea>
                <label for="observaciones">Observaciones:</label>
            </div>
        </div>
    </div>
</div>
